/Debug/
/mappointExample.mappoints
/exampleDummyMap.features
/exampleDummyMap.keyframes
/exampleDummyMap.mappoints
/exampleDummyMap.yaml
/exampleDelimited.features
/exampleDelimited.keyframes
/exampleDelimited.mappoints
/exampleDelimited.yaml
